@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.calendar__toast_successful {
  color: white;
  background: $green-400;
}

.calendar__toast_warning {
  color: black;
  background: $yellow-300;
}

.calendar__toast_error {
  color: white;
  background: $red-400;
}
